<% require 'twitterbot2.rb' %>
<% provide(:title, 'Help') %>
<h1>Help</h1><br>
<h2>
  The pubquest is an interactive snakes-and-ladders pub crawl game through the Sydney CBD. </h2><br>
  <div style="text-align: left">
  <p><%= $directmessages[0] %></p>
  <p><%= $directmessages[1] %></p>
  <p><%= $directmessages[2] %></p>
  <p><%= $directmessages[3] %></p>
  <p><%= $directmessages[4] %></p>
  <p><%= $directmessages[5] %></p>
  <p><%= $directmessages[6] %></p>
  <p><%= $directmessages[7] %></p>
</div>
</p>